{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Магазин</title>
  <link rel="stylesheet" href="{% static 'css/product_list.css' %}">
</head>
<body>

  <header>
    <h1>Добро пожаловать в магазин</h1>
    <a href="{% url 'cart' %}"> Корзина </a>
  </header>

  <h3>Категории:</h3>
  <ul>
    {% for category in categories %}
      <li>
        <a href="{% url 'category_products' category.id %}">🛍 {{ category.name }}</a>
      </li>
    {% endfor %}
  </ul>

  <h2>Товары:</h2>
  <div class="product-container">
    {% for product in products %}
      <div class="product-card">
        <img src="{{ product.image.url }}" alt="{{ product.title }}">
        <h4>{{ product.title }}</h4>
        <p>{{ product.price }} руб.</p>
        <a href="{% url 'product_detail' product.id %}">Подробнее</a>
      </div>
    {% endfor %}
  </div>

</body>
</html>
