{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Магазин</title>
  <link rel="stylesheet" href="{% static 'css/product_list.css' %}">
</head>
<body>

  <!-- Header Section -->
  <header>
    <div class="container">
      <h1>Добро пожаловать в магазин</h1>
      <a href="{% url 'cart' %}" class="cart-link">Корзина</a>
      {% if user.is_authenticated %}
        <p> Добро пожаловать  {{user.username}}</p>
        <form action="{% url 'logout' %}" method="post"> 
          {% csrf_token %}
          <button> Выйти </button>
        </form>
      {% else %}
        <a href="{% url 'login' %}"> Войти </a>
        <a href="{% url 'register' %}"> Регистрация </a>
      {% endif %}
    </div>
  </header>

  <!-- Categories Section -->
  <section class="categories">
    <h3>Категории:</h3>
    <ul>
      {% for category in categories %}
        <li><a href="{% url 'category_products' category.id %}">🛍 {{ category.name }}</a></li>
      {% endfor %}
    </ul>
  </section>

  <!-- Products Section -->
  <section class="products">
    <h2>Товары:</h2>
    <div class="product-container">
      {% for product in products %}
        <div class="product-card">
          <img src="{{ product.image.url }}" alt="{{ product.title }}">
          <h4>{{ product.title }}</h4>
          <p>{{ product.price }} руб.</p>
          <a href="{% url 'product_detail' product.id %}" class="btn-detail">Подробнее</a>
        </div>
      {% endfor %}
    </div>
  </section>

  <!-- Footer Section -->
  <footer>
    <div class="container">
      <p>&copy; 2025 Магазин. Все права защищены.</p>
    </div>
  </footer>

</body>
</html>
